* {
  text-align: center;
}
.main {
  margin: 2rem 10%;
}


.card a {
  color: gray;
}
.card .btn {
  color: #fefefe;
}

.card {
  margin-bottom: 1.5rem;
}

.default {
  margin-top: 0;
  width: 15rem;
  opacity: 0.6;
}


.filters {
  padding: 1rem 1.5rem;
  display: inline-flex;
  width: 100%;
}
.filters > div {
  /* padding: 0.5rem; */
  margin: 0.25rem 0.25rem;
}
.btn-group {
  margin: 0 auto;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn-group .btn {
  margin: 1rem;
}
.footer-list a {
  text-decoration: none;
  color: black;
}

.footer-list a:hover {
  text-decoration: none;
}
.table-total {
  background-color: #E9ECEF;
}

@media (max-width: 1000px) {
  .main {
    margin: 2rem 5%;
  }
  .filters {
    flex-wrap: wrap;
  }
}