<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Upload file </title>
</head>
<body>
    <h1> CAPSTONE PROJECT </h1>
    <p> 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet erat in sapien aliquet ultrices in ut sapien. Fusce dignissim porta posuere. Sed semper velit condimentum erat aliquam, nec porttitor nisl eleifend. Proin volutpat felis id leo imperdiet maximus. Proin vitae ex vestibulum, imperdiet dolor sed, scelerisque lacus. Mauris aliquet, eros in volutpat dictum, tortor quam aliquet neque, et fermentum libero sapien ac mauris. Nam suscipit auctor felis at porta. Maecenas vitae tristique enim. Suspendisse nec scelerisque elit, vitae luctus sem. Mauris sed velit eget ligula imperdiet pellentesque. Vivamus et commodo est. Aenean et vulputate enim. Pellentesque posuere posuere risus, sed dignissim justo tempor eget. Phasellus iaculis pharetra justo sed hendrerit.
        Fusce sollicitudin libero et fermentum tristique. Quisque at quam tincidunt, cursus lorem at, convallis nisl. Cras varius dictum lobortis. Aenean mollis leo risus, a rutrum erat feugiat nec. Duis aliquam convallis nunc vel consectetur. Maecenas dolor leo, tempus eget pharetra et, mollis ac dolor. Etiam et metus eu nibh blandit ornare. Duis pulvinar eget est ut finibus. Aenean sollicitudin, nunc vel ullamcorper semper, tortor urna fermentum metus, a vestibulum odio purus vel nisl. Vivamus ornare ipsum vel tellus tincidunt, nec laoreet purus blandit.
    </p>
    <hr> <!-- -->

    <h2> UPLOAD FILES HERE </h2>
    <form action="/" method="POST" enctype="multipart/form-data">
        <!-- <input type="image" src="" alt=""> -->
        <input oninput="filesize(this);" type="file" id="image-input" name="image" accept="image/gif, image/jpeg, image/png">
        
        <label for="x_scale"> X scale: </label>
        <input type="number" name="x_scale" id="x_scale" step='0.01' placeholder='2.00'>
        <label for="y_scale"> Y scale: </label>
        <input type="number" name="y_scale" id="y_scale" step='0.01' placeholder='2.00'>
        <!-- filter -->
        <!-- <label for="filter-only"> Filter Only: </label>
        <input type="text" name="filter-only" id="filter-only" placeholder="Dog">
        <label for="filter-without"> Filter Without: </label>
        <input type="text" name="filter-without" id="filter-without" placeholder="Cat"> -->

        <!--  features -->
        <!-- <input type="checkbox" name="show-distance" id="show-distance">
        <label for="show-distance"> Show Distances? </label>
        <input type="checkbox" name="show-count" id="show-count">
        <label for="show-count"> Show Object Count? </label>
        -->
        <input type="submit" value="Submit"> 

    </form>

    <hr> <!-- --- -->

    <main>
        <h2> Image Area: UPLOAD / OUTPUT will be here </h2>
        {% if file %} 
            <!-- <img src="/static/uploads/{{uploaded}}" alt=""> -->
            <img src="{{output}}" alt="">
        {% else %}
            <img src="not-found.png"/>
        {% endif %}
    </main>
    
    <hr> <!-- --- -->

    <section>
        <h2> Additional Output ie. count, distance tables</h2>
        <h3> Object Count </h3>
        <h3> Object Distance </h3>

        <hr>
        <button> Button to download image </button>
        {% if file %}
            <a href="/download/{{output}}" target="_blank"> Download File</a>
        {% endif %}
        <button> Button to Save output as CSV </button>
    </section>

{% block script %}

<script>
    function filesize(elem) {
        console.log(elem)
        document.cookie = `filesize=${elem.files[0].size}`
    }
</script>

{% endblock %}

</body>
</html>