<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/styles.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="icon" href="/static/icons/icon.png">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Online Crime Scene OSINT tool</title>
  </head>
  <body>
    <!-- if error message -->
    {% if message %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <h4 class="alert-heading"> Error! </h4>
      {{message}}
    </div>  
    {% endif %}

    <!-- if success -->
    {% if output %}
    <div class="alert alert-success alert-dismissible" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <h4 class="alert-heading">Sucess!</h4>
      Image processing complete
    </div>


    {% endif %}
    <div class="main">
      <h2 class="display-5">
        Open-source Image Analysis Tool for Object Identification and Distance
        Estimation for Crime Scene Investigation
      </h2>
      <br />
      <p class="m-5">
        The web-page (front-end) will send your image to the cloud server. The
        algorithm then performs object detections and other functions which will
        be provided for the user to view (back-end). The output generated will
        be viewed on the web-page and the image result can be downloaded as well
        as the data.
      </p>
      <p class="m-5">
        The project can be used as an Open Source Intelligence (OSINT) tool. It
        will be useful in the field of Forensics, specifically in Crime Scene
        Examination. The application can be used by forensic scientists that
        seek and extract comprehensive information about the image of the crime
        scene, particularly in indoor crime scenes.
      </p>
      <hr />
      <!-- -->


      <!-- loop -->
      <!-- collapse -->
      <div>
        <h3> Upload Image Here</h3>
        <br />

        <form action="/" method="POST" enctype="multipart/form-data">

          <div class="filters">
            <div class="custom-file">
                <input oninput="filesize(this);" type="file" id="image-input" name="image" accept="image/jpg, image/jpeg, image/png">
                <label id="filename" class="custom-file-label text-left" for="image-input">
                      Choose File
                </label>
            </div>     

            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Filter Only</span>
              </div>
              <input type="text" class="form-control" name="filter-only" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="cat"/>
            </div>

            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Filter Without</span>
                </div>
                <input type="text" class="form-control" name="filter-without" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="dog"/>
            </div>

          </div>

          <!-- Features -->
          <div>
            <input type="checkbox" name="show-distance" id="show-distance"/>
            <label class="mr-3" for="show-distance">Show Distance</label>

          </div>

          <div class="mt-2 d-inline-block">
            <input class="btn btn-secondary" type="submit" value="Submit"/>
          </div>
          
        </form>
      </div>

      <hr />
      <!-- --- -->

      <main>
        <!-- No Image 
        Uploaded image 
        Processed image -->

        <div class="image-area">
        {% if output %}
          <h3 id="process-image-text"> Processed Image/s</h3>
          <img id="output" alt="">

        {% else %}
          <h3 id="uploaded-image-text"> No Image</h3>
          <img id="output" alt="" src="/static/icons/default_photo.png" class="default">
        {% endif %}
        <!-- Placeholder Image Here -->
        <!-- <img src="https://placekitten.com/640/360"> -->
        
        <!-- upload area -->
        </div> 


      <!-- After submit button -->
      {% if file %}
      <div id="accordion" role="tablist">
          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
              <h5 class="mb-0">
                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  {{ file }}
                </a>
              </h5>
            </div>
        
            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-body">
                <!-- Image View -->
                <div class="image-area-collapse">
                    <img src="/static/output/{{output_path}}/{{output}}" alt="">
                </div>
          
                <!-- Information -->
                <hr><h3>Image Information:</h3><br />

                <!-- Object Count -->
                {%if total > 0 %}
                <h4 class="text-left">Object Count</h4>
                <div>
                  <table class="table table-bordered table-hover" style="width: 100%;">
                    <thead class="thead-light">
                      <tr>
                        <th>Classified Objects</th>
                        <th>Count</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for class, count in class_count.items() %}
                          <tr>
                            <td>{{class}}</td>
                            <td>{{count}}</td>
                          </tr>
                      {% endfor %}
                      <tr class="table-total">
                        <td class="font-weight-bold">TOTAL</td>
                        <td class="font-weight-bold">{{total}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                {% endif %}
                <br/>

                <!-- Object Distance -->
                {% if distances %}
                <h4 class="text-left">Object Distance</h4>
                <div>
                  <table class="table table-bordered table-hover">
                    <thead class="thead-light">
                      <tr>
                        <td> --- </td>
                        {% for instance_name in instance_names %}
                          <td> {{ instance_name }}</td>
                        {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in distances %}
                        <tr>
                          <!-- object name too -->
                          <td> {{instance_names[loop.index0]}}</td>
                          {% for col in row %}
                            <td> {{col}} pixels </td>
                          {% endfor %}
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {% endif %}
              </div>
            <div class="btn-group">
                <a class="btn btn-dark" href="/download/{{output_path}}" target="_blank">
                    Download Image
                  </a>

                <a class="btn btn-dark" href="/download/zip/{{output_path}}" target="_blank">
                  Download Objects as ZIP
              </a>
              <!-- if file -->

              <!-- endif -->
              <a class="btn btn-danger" href="#">
                Download data as CSV
              </a>
            </div>

          </div>

            </div>

      </div>
      {% endif %}

      </main>
    
      <br><hr><br>
      <div class="footer-basic">
        <footer class="footer-list">
            <ul class="list-inline">
              <li class="list-inline-item"><a href="https://github.com/ptrckstuns" target="_blank">Patrick Castro</a></li>
              <li class="list-inline-item"><a href="https://github.com/jyybril" target="_blank">Angelo Erasmo</a></li>
              <li class="list-inline-item"><a href="https://github.com/julililicious" target="_blank">Julius Nocon</a></li>
              <li class="list-inline-item"><a href="https://github.com/screo08" target="_blank">Jhon Bayquen</a></li>
            </ul>
            <div class="bg-light py-4">
              <div class="container text-center">
                <p class="text-muted mb-0 py-2">© 2021 Big Data. All Rights Reserved.</p>
              </div>
            </div>
        </footer>
      </div>


      
    {% block script %}
        <script src="/static/js/main.js"> </script>
    {% endblock %}

  </body>
</html>
